:root {
  --btn-main-color: rgba(207, 43, 39);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-modal {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}

.place-for-logo {
  height: 40px; /* wysokość kontenera */
  width: 120px; /* szerokość kontenera */
  overflow: hidden; /* przycina obraz jeśli za duży */
}

.place-for-logo img {
  height: 100%; /* wypełnia kontener w pionie */
  width: auto; /* zachowuje proporcje */
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.new-collection-banner {
  height: 150px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(123, 130, 150),
    rgba(215, 217, 225),
    rgba(213, 213, 220)
  );
}

.new-collection-banner__content {
  height: 100%;
  width: 30%;
  padding-top: 25px;
  padding-left: 50px;
  display: flex;
  background-color: yellow;
  flex-direction: column;
}

.offer-button {
  background: var(--btn-main-color);
  border: none;
  color: white;
  width: 125px;
  height: 40px;
}

.benefits-strip {
  height: 75px;
  width: 100%;
  background-color: rgb(189, 188, 188);
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-strip__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefits-strip__item__main {
  font-size: 17.5px;
}

.benefits-strip__item__minor {
  font-size: 12.5px;
}

.product-modal {
  height: 250px;
  width: 100%;
  background-color: green;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 17.5px;
  display: flex;
  flex-direction: column;
}

.modal-desc {
  height: 20px;
  width: 300px;
  background-color: red;
}

.product-modal__items {
  width: 100%;
  height: 175px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.product-modal__item {
  height: 100%;
  width: 150px;
  background-color: pink;
}

.categories-modal {
  height: 150px;
  width: 100%;
  background-color: cadetblue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.categories-modal__items {
  height: 100px;
  width: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-modal__item {
  height: 75px;
  width: 125px;
  background-color: violet;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newsletter-modal {
  height: 300px;
  width: 100%;
  background-color: violet;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
}

.newsletter-modal__items {
  margin-top: 15px;
  height: 175px;
  width: 100%;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-item {
  height: 175px;
  width: 150px;
  background-color: saddlebrown;
}
