:root {
  --btn-main-color: rgba(208, 43, 39);
  --text-main-color: rgb(0, 0, 0);
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-modal {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}

.place-for-logo {
  height: 100px; /* wysokość kontenera */
  width: 300px; /* szerokość kontenera */
  overflow: hidden; /* przycina obraz jeśli za duży */
}

.place-for-logo img {
  height: 100%; /* wypełnia kontener w pionie */
  width: auto; /* zachowuje proporcje */
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: rgba(229, 230, 237);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: var(--text-main-color);
}

.new-collection-banner {
  height: 200px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(123, 130, 150),
    rgba(215, 217, 225),
    rgba(213, 213, 220)
  );
}

.nav-btn {
  height: 35px;
  width: 80px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: rgba(229, 230, 237);
  transition: 0.25s;
}

.nav-btn:hover {
  cursor: pointer;
  scale: 1.15;
  transition: 0.25s;
}

.btn-svg {
  height: 20px;
  width: 20px;
  /* padding-right: 5px; */
}

.new-collection-banner__content {
  height: 100%;
  width: 30%;
  padding-top: 45px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.collection-minor-info {
  font-size: 12.5px;
}

.offer-button {
  background: var(--btn-main-color);
  border: none;
  color: white;
  width: 125px;
  height: 40px;
}

.benefits-strip {
  height: 75px;
  width: 100%;
  background-color: rgba(254, 254, 254);
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-strip__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.benefits-text {
  display: flex;
  flex-direction: column;
}

.benefits-strip__item__main {
  font-size: 17.5px;
}

.benefits-strip__item__minor {
  font-size: 12.5px;
}

.benefits-svg {
  height: 25px;
  width: 25px;
}

.product-modal {
  height: 250px;
  width: 100%;
  background-color: rgba(238, 239, 243);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 17.5px;
  display: flex;
  flex-direction: column;
}

.modal-desc {
  height: 20px;
  width: 300px;
  margin-bottom: 15px;
  color: rgba(91, 105, 129);
  font-family: "Montserrat";
}

.product-modal__items {
  width: 100%;
  height: 175px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.product-modal__item {
  height: 100%;
  width: 150px;
  background-color: pink;
}

.categories-modal {
  height: 150px;
  width: 100%;
  background-color: cadetblue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.categories-modal__items {
  height: 100px;
  width: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-modal__item {
  height: 75px;
  width: 125px;
  background-color: violet;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newsletter-modal {
  height: 300px;
  width: 100%;
  background-color: violet;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
}

.newsletter-modal__items {
  margin-top: 15px;
  height: 175px;
  width: 100%;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-item {
  height: 175px;
  width: 150px;
  background-color: saddlebrown;
}
