* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-div {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: red;
}
